<div class = "container">
    <!-- <table *ngIf="employee" align = "left"> -->
      <table>
      <thead>
        <th colspan="2">
          Current Order
        </th>
      </thead>
      <tbody>
        <tr>
          <td>Food Id:</td>
       
          <!-- <td> {{food.foodId}}</td> -->
        </tr>
        <tr>
            <td>Food Name:</td>
            <!-- <td>{{food.foodName}}</td> -->
        </tr>
        <tr>
          <td>Quantity:</td>
          <!-- <td>{{food.quantity}}</td> -->
      </tr>
      <tr>
        <td>Price:</td>
        <!-- <td>{{food.price}}</td> -->
    </tr>
    <tr>
        <br><br><button>Apply Order</button>
    <button>Cancel Order</button>
  </tr>
       
      </tbody>
    </table>
    </div>
    
  