
  
  <div class="container">
    <h1 align = "center">Food Items</h1>


<table class="table">
  <table class="table table-border">
    <thead>
        <table cellspacing="20"></table>
      <tr>
        
        <th scope="col">Food ID</th>
        <th scope="col">Name</th>
        
        <th scope="col">Price (Rs.)</th>

      </tr>
    </thead>
   <tr>
        
        <td>1</td>
        <td></td>
        
        <td></td>
       
      </tr> 
      <tr>
        
        <td>2</td>
        <td></td>
       
        <td></td>
       
      </tr> 
      <tr>
        
        <td>3</td>
        <td></td>
        
        <td></td>
       
      </tr> 
      <tr>
        
        <td>4</td>
        <td></td>
        
        <td></td>
       
      </tr> 
  </table>
</table>
</div>

