

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Food Id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Food Id">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Food Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Food Name">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Food Quantity</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Food Quantity">
  
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Food Price</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Food Price">
    
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
