


<div class="container">
        <div class="row">
            <div class="form_bg">
                <form ngForm #f = "ngForm" (ngSubmit)="onSubmit(f)" class="applyForm">
                     <h2 class="text-center">Quantity Page</h2>
                    <br/>
                    <div class="form-group">
                        <input type="text" ngModel #userId="ngModel" name="quant" class="form-control" id="uid" placeholder="Quantity" required>
                        <div *ngIf="userId.touched && userId.errors">
                            Quantity cannot be empty
                        </div>
                        </div>
                    <br/>
                    <div class="align-center">
                        <button type="submit" class="btn btn-primary" id="login" [disabled]="!f.valid">Go To Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>