<br>
<div style="text-align:center">
<h1>

Canteen Management System
</h1>
<div>
  <!-- <button class="btn btn-primary" (click)="OnClick()"> Admin login</button> -->
 <button> <a class="w3-bar-item w3-button" id="c" [routerLink]="['./app-login']" [routerLinkActive]="['active']">Admin login</a></button>
</div>
</div>
<br>
<br>
<br>

<div class = "bg">

<table border="1" align ="center">

<thead>

<tr>

<th (click)="sortTable(0)">Food ID</th>

<th (click)="sortTable(1)">Food Name</th>

<th (click)="sortTable(2)">Price</th>

<th>Add to Cart</th>
<th>Vendor</th>
</tr>

</thead>
<tbody>
<tr>
  <td>1</td>
  <td>Pizza</td>
  <td>100</td>
  <td><button (click)="homeMethod()">Add</button></td>
  <td>Pappa Jones</td>
</tr>
<tr>
  <td>2</td>
  <td>Burger</td>
  <td>50</td>
  
  <td><button>Add</button></td>
  <td>Burger King</td>
</tr>
<tr>
  <td>3</td>
  <td>Noodles</td>
  <td>200</td>
  <td><button>Add</button></td>
  <td>Hawkings</td>
</tr>
<tr>
  <td>4</td>
  <td>Biryani</td>
  <td>250</td>
  <td><button>Add</button></td>
  <td>Behrouz</td>
</tr>

  </tbody>
</table>

</div>
